<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:macro name="link4">
    <link name="link4">

      <inertial>
        <origin xyz="0 0 0.035" rpy="0 0 0"/>
        <mass value="0.7"/>
        <inertia ixx="0.000535" ixy="0.0" ixz="0.0"
                iyy="0.000535" iyz="0.0"
                izz="0.001059"/>
      </inertial>

      <visual>
        <origin xyz="0 0 0.035" rpy="0 0 0"/>
        <geometry>
          <cylinder radius="0.055" length="0.07"/>
        </geometry>
        <material name="red">
          <color rgba="0.8 0.0 0.0 1.0"/>
        </material>
      </visual>

      <collision>
        <origin xyz="0 0 0.035" rpy="0 0 0"/>
        <geometry>
          <cylinder radius="0.055" length="0.07"/>
        </geometry>
      </collision>

    </link>
  </xacro:macro>
</robot>